{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} title {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>
<body>


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'news:news_page' %}">News</a>
                    </li>
                </ul>
                <ul class="navbar-nav align-items-center">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ user.employee.profile_picture.path }}">
                                <img src="{{ user.employee.profile_picture.path }}"
                                     alt="{{ user.employee.profile_picture.original_name }}"
                                     style="width: 50px; height: 50px; border-radius: 50%"
                                >
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-danger mx-2" href="{% url 'auth:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <a class="btn btn-primary mx-2" href="{% url 'auth:login' %}">Login</a>
                        <a class="btn btn-primary mx-2" href="{% url 'auth:register' %}">Register</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <section class="offset-2 col-8">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div
                            {% if message.tags %}
                                class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                role="alert"
                            {% endif %}
                    >

                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
</div>

<main>
    <div class="row">
        <div class="offset-2 col-8">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</main>

<footer>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>